.App {
  text-align: center;
}

.Home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  animation: 2s textAppear forwards;
}

@keyframes textAppear {
  from {
    color: #282c34;
  }

  to {
    color: white;
  }
}

.Home > .title{
  font-size: 5rem;
  margin: 0;
}
